h1{
	text-align:center;
}
.container{
	text-align:center;
}
.mapchoice{
	width: 150px;
}

html, body, #map {
    height: 100%;
    width: 100%;
}

.leaflet-vertex-icon.marker-snapped,
.leaflet-drawing-icon.marker-snapped {
	opacity: 1!important;
}

.btn{
	background:rgba(255,255,255, 1);
}

#back{
	position:absolute; 
	top:10px; 
	left:50px;
}

#north{
	position:absolute; 
	top:16px; 
	right:60px;
}

.ol-mouse-position{
	position:absolute;
	left: 170px;
	top:auto;
	right:auto;
	bottom: 10px;
}
#edit{
	 position:absolute;
	 top:150px;
	 left:5px;
	background:rgba(255,255,255, 1);
}
.title{
	position:absolute;
	display: block;
	top:0px;
	left:0px;
	right:0px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	background-color:rgba(255,255,255, 0.9);
	font-size:25px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}