h1{
	text-align:center;
}
.container{
	text-align:center;
}
.mapchoice{
	width: 150px;
}

html, body, #map {
    height: 100%;
    width: 100%;
}

.btn{
	background:rgba(255,255,255, 1);
}

#back{
	position:absolute; 
	top:10px; 
	left:50px;
}

#north{
	position:absolute; 
	top:16px; 
	right:60px;
}

.ol-mouse-position{
	position:absolute;
	left: 170px;
	top:auto;
	right:auto;
	bottom: 10px;
}
#edit{
	 position:absolute;
	 top:150px;
	 left:5px;
}